extends ../layout

block content
    h1.bg-primary.text-center #{song.name}
    p Name: #{song.name}
    p Artist: #{song.artist}
    p Time: #{song.time}
    p Chart: #{song.chart}

    p
      input(type='button', value='Back', onclick='history.back(-1)')

    p
        a(href='/songs/#{song._id}/edit') Edit
    p
        a(href='/songs') All Songs
