extends ../layouts/setlistEditlayout

block content
  #edit_view
    if songArray
      - var ob = JSON.parse(songArray)
    h1
      span#editable_title(contentEditable='true' onBlur='saveSet()') #{title}
      span  - #{setlist.date.toLocaleDateString('en-US')}
    #all_sets
      - for (var i=1; i<(numSets + 1); i++) {
        .set-container.drop(id="set_#{i}")
          h2 Set #{i}
          .stats.count(id="count_#{i}")
            if ob
              = ob['set_' + i].length + ' songs'
          .stats.total-time
          ul.sortable
            if ob
              -each song in ob['set_' + i]
               -each v, k in song
                  li.song.edit(data-id='#{k}' data-name='#{v.name}' data-time='#{v.time}')= v.name
                    if k.time !== "undefined"
                      span.time= v.time
      - }
        br(style='clear:both')

    #bench.drop
      //- If we have a saved order, use that.  Otherwise, load all songs
      //- to start a new setlist
      ul.sortable
        if ob
          -each song in ob['bench']
           -each v, k in song
              li.song.edit(data-id='#{k}' data-name='#{v.name}' data-time='#{v.time}')= v.name
                if v.time !== "undefined"
                  span.time= v.time
        else
          - each song, i in songs
            li.song.edit(data-id='#{song._id}' data-name='#{song.name}' data-time='#{song.time}')= song.name
              if song.time !== "undefined"
                span.time= song.time
    #trash
      - each song, i in songs
        li.song.edit(data-id='#{song._id}' data-name='#{song.name}' data-time='#{song.time}')
          b
            = song.name
    input(type='hidden',value='',name='songArray',id='songArray')
