extends ../layouts/layout

block content
  .content
    h3 #{title}
    form#formAddSong(name="addSetlist",method="post",action="/setlists")
      label Name*
        input(type="text", placeholder="CBGB's", name="name" required)
      label Date*
        input(type='text', name='date', id='date' required)
      select(name='numSets')
        option(value='1') 1 Set
        option(value='2', selected='') 2 Sets
        option(value='3') 3 Sets
      button.right(type="submit") Add Setlist
    - each setlist, i in setlists
        div.setlist
          ul
            li.name
              a(href='/setlists/#{setlist._id}')
                = setlist.name
            li
                = setlist.numSets
            li
                = setlist.date.toLocaleDateString('en-US')
            li
              form(action='/setlists/#{setlist._id}/edit',method='post',
                   enctype='application/x-www-form-urlencoded',
                   onsubmit="return confirm('Delete this set?');")
                  input(type='hidden',value='DELETE',name='_method')
                  button(type='submit') Delete
            li
                a(href='/setlists/#{setlist._id}/edit') Edit
