extends ../layout

block content
  if songArray
    - var ob = JSON.parse(songArray)
  .content
    h1.bg-primary.text-center #{setlist.name} - #{setlist.date.toLocaleDateString('en-US')}
    #view_setlist
      - for (var i=1; i<(numSets + 1); i++) {
        .set-container(id="set_#{i}")
          h2 Set #{i}
          .count(id="count_#{i}")
            if ob
              = ob['set_' + i].length
          ul
            if ob
              -each song in ob['set_' + i]
               -each k, v in song
                 li
                   a(href='/songs/#{v}')
                     = k.name
      - }
        br(style='clear:both')

    p
        a(href='/setlists/#{setlist._id}/edit') Edit this Setlist
        button(onclick='javascript:window.print()' alt='Print this page') Print Set List
