extends ../layout

block content
  if songArray
    -var ob = JSON.parse(songArray)
  #setlist_view
    h1.bg-primary.text-center #{setlist.name}
    h4 Set 1
    ul
    if ob
      -each song in ob['set_1']
       -each k, v in song
        li= k
    h4 Set 2
    if ob
      -each song in ob['set_2']
       -each k, v in song
        li= k
    h4 Bench
    if ob
      -each song in ob['bench']
       -each k, v in song
        li= k

    p
        a(href='/setlists/#{setlist._id}/edit') Edit this Setlist
